{
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "importSource": "",
      "runtime": "automatic"
    }],
    "@babel/plugin-syntax-dynamic-import"
  ],
  // "presets": ["@babel/preset-typescript"],
  "comments": false
}